.grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  padding: 30lvh 0;
}

.card {
  opacity: 0;
  padding: 30px 30px 40px;
  border-radius: 65px 0 0 0;
  background-color: rgba(0,0,0,.02);
  display: flex;
  flex-direction: column;
  gap: 20px;
  cursor: default;
  overflow: hidden;
}

.avatar {
  opacity: 0;
  position: relative;
  width: 100px;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  
  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 50%;
    box-shadow: inset 8px 8px 6px rgba(0,0,0,.4);
  }

  img {
    box-sizing: border-box;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    border: 6px solid var(--bgColor);
  }
}

.heading {
  font-weight: 400;
  color: #333333;
  transform: translateX(50%);
  opacity: 0;
}

.description {
  transform: translateX(50%);
  opacity: 0;
  line-height: 1.3;
}