body {
  margin: 0;
  background-color: #ffffff;
  font-family: var(--secondary-font);
  font-weight: 300;
  font-size: 24px;
}

.test {
  animation: bounce-top 1s both;
}

.test-reverse {
  animation: bounce-bottom 1s both;
}

@keyframes bounce-top {
  20% {
    transform: translateY(-40px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
}

@keyframes bounce-bottom {
  30% {
    transform: translateY(60px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
}